body{
    /* 背景色BGC */
    background-color: rgb(255, 255, 255);
}
.container{
    /* 容器寬度 */
    width:1400px !important;
}

h2{
    /* 文字大小F */
    font-size: 30px;

    margin-top: 20px;
}
#carouselExampleCaptions .carousel-item img {
    /* 物件適合大小 */
    object-fit: cover;
    /* width: 100%; */
    height: 700px;

}

footer{
    height:100px;
    line-height: 100px;
}

.card-img {
/* 調整圖片至適當大小 */
    object-fit: cover;
    height: 300px;
}
.col-lg-3 {
    padding: 0px !important;



}
.card{
    border-radius: 0px !important;
}
.card-img{


     border-radius: 0px !important;
}
.row{
    padding: 0 15px;
}